// Grid
// $column-width: 8%;
$column-width: 8vw;
// $gutter: 32px;
$gutter: 2vw;

.column {
  box-sizing: border-box;
  padding: 0 ($gutter/2);
}

@for $i from 1 to 12 {
  .col-#{$i} {
    @extend .column;
    width: $column-width * $i;
  }
}
