@import "../styles/_colors";

.navigation {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: fixed;
  text-align: right;
  z-index: 3;
  a {
    color: $off-black;
    display: block;
    font-family: "PT Mono", monospace;
    font-size: 17px;
    margin-bottom: 48px;
    text-decoration: none;
    &.active {
      color: $pink;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
