@import "../styles/_colors";

.navigation {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: fixed;
  text-align: right;
  z-index: 3;
  a {
    margin-bottom: 36px;
    &:hover {
      text-decoration: underline;
    }
  }
}
