@import "../styles/_base";

.project-header {
  width: 100%;
}

.project-title {
  margin-top: 16px;
  margin-bottom: 8px;
}

.project-description {
  color: $gray;
  font-weight: 300;
  margin-bottom: $medium-spacer;
}

.text-group {
  display: flex;
  flex-direction: row;
}

.large-spacer-top {
  margin-top: 48px;
}

.medium-spacer-bottom {
  margin-bottom: 32px;
}

.medium-spacer-top {
  margin-top: 32px;
}

.project-image {
  border-radius: $border-radius;
  width: 100%;
  &.vertical {
    width: 60%;
  }
}

p.large-paragraph {
  color: $dark-gray;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.4;
}

p.reflections {
  color: $pink;
  font-family: "PT Mono", monospace;
  font-size: 14px;
  line-height: 1.4;
}

ul.text-list {
  li {
    color: $dark-gray;
    list-style: square;
    margin-bottom: $small-spacer;
    strong {
      font-weight: 600;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.next-shelf {
  align-items: center;
  display: flex;
  margin-top: 90px;
  .right-text {
    text-align: right;
  }
  .project-link {
    align-items: center;
  }
  h2:hover {
    h2 {
      text-decoration: underline;
      text-decoration-color: $pink;
    }
  }
}

@media screen and (max-width: 600px) {
  .project-header
  .project-image {
    border-radius: 0;
    padding: 0;
  }
  .project-header {
    margin-top: $medium-spacer;
  }
  .project-header,
  .project-image {
    border-radius: 0;
    margin-left: -16px;
    width: 100vw;
  }
  .text-group {
    flex-direction: column;
  }
  .reflections {
    display: none;
  }
  p.large-paragraph {
    font-size: 17px;
  }
  ul.text-list {
    padding: 0 32px;
  }
}
