@import "styles/_base";

.header-image {
  background-image: url("/images/elizabeth-portrait.jpeg");
  background-position: center;
  background-size: cover;
  border-radius: $border-radius;
  height: 600px;
}

.header-text {
  z-index: 4;
}

.projects-wrapper {
  background: $light-pink;
  margin-top: -90px;
  padding: 90px 0;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-number {
  text-align: right;
}

.project {
  box-sizing: border-box;
  display: flex;
  p {
    color: $gray;
  }
  .image {
    background-color: $white;
    background-size: cover;
    background-position: center;
    border-radius: $border-radius;
    height: 250px;
    margin-bottom: 16px;
  }
  .project-link {
    display: flex;
    &:hover {
      cursor: pointer;
      h2 {
        color: $pink;
      }
      .image {

      }
    }
  }
}

#project-2 {
  flex-direction: column;
  margin-top: 80px;
  padding-left: 0;
  padding-right: 0;
  .project-number {
    text-align: left;
    margin-bottom: 1vw;
  }
  .image {
    height: 300px;
  }
}

#project-3 {
  @extend .offset-1;
  margin-top: 60px;
}
