@import "styles/_base";

.header {
  align-items: center;
  display: flex;
  margin-left: $column-width * 3;
  padding: 2vw 0;
}

.header-image {
  background-image: url("/images/elizabeth-portrait.jpeg");
  background-position: center;
  background-size: cover;
  border-radius: $border-radius;
  height: 600px;
  margin-left: -$column-width;
}

.header-text {
  z-index: 4;
}

.projects-wrapper {
  background: $light-pink;
  height: 800px;
  margin-top: -90px;
  padding-top: 90px;
}

.projects {
  display: flex;
  flex-direction: row;
  margin-left: $column-width * 2;
}

.project-number {
  text-align: right;
}

.project {
  box-sizing: border-box;
  display: flex;
  p {
    color: $gray;
  }
  .image {
    background-color: $white;
    border-radius: $border-radius;
    height: 200px;
    margin-bottom: 16px;
  }
}

#project-2 {
  flex-direction: column;
  margin-top: 80px;
  padding-left: 0;
  padding-right: 0;
  .project-number {
    text-align: left;
    margin-bottom: 1vw;
  }
  .image {
    height: 300px;
  }
}
